<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/connexion">Connectez-vous</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/recettes">Les recettes</a>
    </li>
</ul>