<ul class="nav nav-pills">
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/">Accueil</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" aria-current="page" href="/recettes">Les recettes</a>
    </li>
    {% if app.user %}
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Mon compte</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="#">Poster une nouvelle recettes</a>
        </li>
    {% else %}
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/connexion">Connectez-vous</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" aria-current="page" href="/inscription">Inscrivez-vous</a>
        </li>
    {% endif %}
</ul>

    {% if app.user %}
        <div class="mb-3">
            Vous êtes connecter, <a href="{{ path('app_logout') }}">Se déconnecter</a>
        </div>
    {% endif %}

<form class="d-flex" role="search">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search">
    <button class="btn btn-outline-success" type="submit">Search</button>
</form>
