{% extends 'base.html.twig' %}

{% block title %}Mon compte{% endblock %}

{% block body %}
    <div class="ind-about">
        <h1>Bonjour {{app.user.username}}, ici tu retrouvera tout les informations de ton compte ainsi que l'historique des recettes que tu as posté</h1>
    </div>
{% endblock %}
