{% extends 'base.html.twig' %}

{% block title %}Hello !{% endblock %}

{% block body %}

<header>
    <nav>
        <ul>
            <li>
                <a href="/">Accueil</a>
            </li>
            <li>
                <a href="/recettes">Les recettes</a>
            </li>
            {% if is_granted('ROLE_ADMIN') %}
            <li>
                <a href="/admin">Admin</a>
            </li>
            {% endif %}
            {% if app.user %}
            <li>
                <a href="">Le frigo</a>
            </li>
            <li>
                <a href="/logout">Deconnexion</a>
            </li>
            {% else %}
            <li>
                <a href="/login">Connexion</a>
            </li>
            <li>
                <a href="/register">Inscription</a>
            </li>
            {% endif %}
        </ul>
    </nav>
</header>

{% endblock %}
