{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}

    <section id="about">
        <div class="ind-about">
            <h1>Bienvenue sur Recette entre amis !</h1>
            <h2>Vous allez pouvoir découvrir les dernières recette réalisé par le discord L42</h2>
        </div>
        <div class="ind-day">
            <h2>La recette en top du jour :</h2>
        </div>
    </section>
{% endblock %}
