<footer>
    <nav class='nav-footer'>
        <a href="#" class="nav-infos"><p>Infos supplémentaire</p></a>
        <a href="https://discord.gg/3qyavffDYC" target="popup" onclick="window.open('https://discord.gg/3qyavffDYC','popup','width=600,height=600'); return false;"><i class="fa-brands fa-discord"></i></a>
    </nav>
</footer>
