<form method="post" action="{{ path('app_recettes_delete', {'id': recette.id}) }}" onsubmit="return confirm('Vous êtes sur de vouloir supprimé cette recette ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ recette.id) }}">
    <button class="btn">Effacer</button>
</form>
