{{ form_start(form, {'attr' : { 'class': 'form-recette-create' }}) }}
    {{ form_widget(form) }}
    <button type="submit" class="btn">{{ button_label|default('Ajouter une recette') }}</button>
{{ form_end(form) }}
