{% extends 'base.html.twig' %}

{% block title %}Modification{% endblock %}

{% block body %}

    {% if app.user.id == user.id %}
        <h1>Modifier {{ recette.title }}</h1> </h1>
        {{ include('recettes/_form.html.twig', {'button_label': 'Modifier'}) }}

    {% else %}

        <h1>Vous ne pouvez pas modifié cette recette</h1>
        <a href="{{ path('app_recettes_index') }}">Revenir sur la liste des recettes</a>

    {% endif %}


{% endblock %}
