{% extends 'base.html.twig' %}

{% block title %}Les recettes{% endblock %}

{% block body %}

    <div id="spawn">
        {% include "_partials/_content.html.twig" %}
    </div>
    
{% block javascripts %}
    {{ encore_entry_script_tags('search') }}
{% endblock %}

{% endblock %}
