{% extends 'base.html.twig' %}

{% block title %}Hello RecettesController!{% endblock %}

{% block body %}
    <h1>La liste de toutes les recettes</h1>
    <h2>Voici toutes nos recettes et les recettes des utilisateurs !</h2>

    {% for rct in recette %}
        <div class="card" style="width: 18rem;">
        <img src="/"class="card-img-top" alt="...">
            <div class="card-body">
                <h5 class="card-title">{{rct.title}}</h5>
                <p class="card-text">{{rct.content}}</p>
                <a href="{{rct.id}}" class="btn btn-primary">Voir cette recette</a>
            </div>
        </div>
    {% endfor %}
{% endblock %}
