{% extends 'base_main.html.twig' %}

{% block title %}Nouvelle recette{% endblock %}

{% block body %}
    <h1>Ajouter une recette</h1>

    {{ include('recettes/_form.html.twig') }}
    
{% endblock %}
