{% extends 'base.html.twig' %}

{% block title %}Users panel{% endblock %}

{% block body %}

        {% for user in users %}

                    <h2>{{ user.username }}</h2>
                    {% for role in user.roles %}
                        <h3>{{ role }}</h3>
                    {% endfor %}
                    <img src="" alt="">

        {% endfor %}

{% endblock %}
