@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');

body {
    font-family: 'Poppins', sans-serif;
}

nav {
    ul {
        padding: 0;
        display: flex;
        justify-content: center;
        li {
            margin: 0.3em;
            list-style-type: none;
            a {
                padding: 0.180em;
                border: 1px solid grey;
                border-radius: 20px;
                color: black;
                text-decoration: none;
                transition: all 0.3s ease-in-out;
                &:hover {
                        color: white;
                        background-color: #ee4d2a;
                        transition: all 0.3s ease-in-out;
                        box-shadow: inset -1px 1px 1px black;
                    }
                &:focus {
                    background-color: #ee4d2a;
                }
            }
        }
    }
}

footer {
    background-color: #ee4d2a;
    width: 100%;
    nav {
        display: flex;
        justify-content: space-around;
        align-items: center;
        .fa-discord {
           font-size: 2em;
            color: white;
            transition: all 0.3s ease-in-out;
            &:hover {
                    color: #7289da;
                    transition: all 0.3s ease-in-out;
                }
        }
        .nav-infos {
            text-decoration: none;
            color: white;
            margin: 0.5em 0;
            padding: 0.5em;
            transition: all 0.3s ease-in-out;
            &:hover {
                    color: black;
                    background-color: white;
                    border-radius: 20px;
                    transition: all 0.3s ease-in-out;
                }
            p {
                margin: 0;
            }
        }
    }
}