.form-login-content {
    display: flex;
    flex-direction: column;
    margin: 0 1.5em;
    padding: 1em;
    background-color: #ee4d2a;
    color: white;
    border-radius: 20px;
    input[type=text] {
        height: 2em;
        margin: 0 0 1em 0;
    }
    input[type=password] {
        height: 2em;
        margin: 0 0 1em 0;
    }
    .form-btn {
        background: white;
        padding: 0.5em;
        margin: 0.5em 0;
        border-radius: 20px;
        border: 1px solid grey;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: #ee4d2a;
            color: white;
            border: 1px solid grey;
            transition: all 0.3s ease-in-out;
        }
    }
    .form-checkbox {
        margin: 0.5em;
    }
    a {
        text-align: center;
        text-decoration: none;
        color: black;
        background: white;
        border-radius: 20px;
        border: 1px solid grey;
        padding: 0.5em;
        transition: all 0.3s ease-in-out;
        &:hover {
            background-color: #ee4d2a;
            color: white;
            border: 1px solid grey;
            transition: all 0.3s ease-in-out;
        }
    }
}

.form-author {
    display: none;
}

.fa-solid {
    animation: 0.2s linear 0s liked;
    padding: 3px;
    color: red;
    &:hover {
        background-color: rgba(249, 24, 128, 0.1);
        border-radius: 20px;
        padding: 3px;
    }
}

.fa-regular {
    animation: 0.2s linear 0s unLiked;
    padding: 3px;
        &:hover {
            background-color: rgba(249, 24, 128, 0.1);
            border-radius: 20px;
            padding: 3px;
        }
}

.btn {
    background-color: #ee4d2a;
    color: white;
    text-decoration: none;
    border-radius: 20px;
    border: 1px solid grey;
    padding: 0.2em;
    margin: 0.2em 0.7em;
    transition: all 0.3s ease-in-out;
    &:hover {
            transition: all 0.3s ease-in-out;
            box-shadow: inset -1px 1px 1px black;
        }
}

#user_crud {
    display: flex;
    flex-direction: column;
    input {
        margin: 0 0 1em 0
    }
}


@keyframes liked {
    from {
        transform: translateY(-40px);
        opacity: 0;
    }
    to { 
        transform: translateY(0);
        opacity: 1
    }
}

@keyframes unLiked {
    from {
        transform: translateY(0px);
        opacity: 0;
    }

    to {
        transform: translateY(-40);
        opacity: 1
    }
}