.rct-container {
    width: 100vw;
    margin: 1em 0;
    display: flex;
    align-items: center;
    justify-content: center;
    .rct-main {
        width: 90%;
        display: flex;
        flex-direction: column;
        position: relative;
        border: 1px solid grey;
        border-radius: 15px;
        h2 {
            margin: 0;
            position: relative;
            top: 1em;
            color: white;
        }
        img {
            width: 100%;
            box-sizing: border-box;
        }
        a {
            bottom: 1em;
            position: relative;
            background: white;
            font-weight: bold;
            text-decoration: none;
            color: black;
        }
    }
}

.form-recette-create {
    display: flex;
    flex-direction: column;
    width: 50%;
    background: #ee4d2a;
    padding: 0.5em;
    margin: 10em auto;
    align-items: center;
    color: white;
    border-radius: 20px;
    #recettes {
        width: 100%;
        display: flex;
        flex-direction: column;
        input, label {
            margin: 0.5em 0;
            font-weight: bold;
        }
    }
    button {
        background: white;
        border-radius: 20px;
        border: 1px solid grey;
    }
}